<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="inventory-title">Inventory List</h1>
    <div class="product-container">
        <ul>
            <li class="product">
                <span class="product-id">#1</span>
                <span class="product-name">Bike</span>
            </li>
            <!-- Add more products here -->
        </ul>
    </div>
</body>
</html>